.modal {
  position: relative;
  width: 720px;
  background: #1c1c21;
  box-sizing: border-box;
  border-radius: 40px;
}

.header {
  display: flex;
  align-items: center;
  height: 64px;
}

.closeButton {
  position: absolute;
  top: 60px;
  right: 40px;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
