.orderFeedElement {
  display: flex;
  flex-direction: column;
  background-color: #1c1c21;
  border-radius: 40px;
}

.additionalInfo {
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  justify-content: space-between;
}

.ingredients {
  display: flex;
}

.leftIngredients {
  display: flex;
}

.ingredientPreview {
  position: relative;
  display: flex;
  height: 64px;
  width: 64px;
  background-color: #131316;
  border: 2px solid #801ab2;
  border-radius: 50%;
}

.ingredientPreview:not(:first-child) {
  margin-left: -20px;
}

.igredientImage {
  position: relative;
  left: -50%;
}

.leftIngredients {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 40px;
}

.sum {
  display: flex;
  align-items: center;
}

.statusDone {
  color: #00cccc;
}
