.burgerDetails {
  width: 600px;
}

.tabs {
  display: flex;
}

.content {
  height: 600px;
  overflow-y: auto;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0;
  list-style-type: none;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 262px;
  color: #fff;
}
